.div {
    height: 50px;
    width: 100%;
    // border-left: 2px solid white;
    border-right: 2px solid white;
    background-color: #2A3F54;
    margin-top: 112px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}